<h3>{{ "Education" | upcase }}</h3>
{% for edu in site.educations %}
<article>
    <h1>{{ edu.title }}</h1>
    <label>{{ edu.start_date | date: "%B %Y" }} - {{ edu.end_date | date: "%B %Y" }}</label>
    {% assign institute = site.data.institutes[edu.institute] %}
    {% if institute %}
    {% if institute.site != '' %}
    <a href="{{ institute.site }}">site</a>
    {% endif %}
    <label>
        {{ institute.name }} | {{ institute.address }}
    </label>
    {% endif %}
    {{ edu.content }}
    {% if edu.tags %}
    {% assign tag_list = edu.tags %}
    {% include tag.html tag_list=tag_list %}
    {% endif %}
</article>
{% endfor %}