{{ "Education" | upcase }}
{% for edu in site.educations %}
<article>
    <h1>{{ edu.title }}</h1>
    <label>{{ edu.start_date | date: "%B %Y" }} - {{ edu.end_date | date: "%B %Y" }}</label>
    {% assign institute = site.data.institutes[page.institute] %}
    {% if institute %}
    {% if institute.site != '' %}
    <a href="{{ institute.site }}">site</a>
    {% endif %}
    <label>
        {{ institute.name }} | {{ institute.address }}
    </label>
    {% endif %}
    {{ content }}
    {% for tag in edu.tags %}
    <label>{{ tag | first }}</label>
    {% endfor %}
</article>
{% endfor %}