<div class="content-block">
    <section id="personal">
        <figure>
            {% include_relative particles/image.html image_name=page.profile_image %}
        </figure>
        {% if page.motto %}
        <h3>{{ "motto" | upcase }}</h3>
        <em>{{ page.motto }}</em>
        {% endif %}
    </section>
    <section id="contacts">
        <h3>{{ "contacts" | upcase }}</h3>
        <ul>
            <li>{% include_relative particles/image.html image_name="pin" %}{{ page.address }}</li>
            <li>{% include_relative particles/image.html image_name="email" %}<a href="mailto:{{ page.email }}">{{ page.email }}</a></li>
            <li>{% include_relative particles/image.html image_name="linkedin" %}<a href="{{ page.linkedin_url }}" target="_blank">{{ page.linkedin_url }}</a></li>
        </ul>
    </section>
    <section id="expertise">
        {% for expertise in site.data.expertises %}
        <h3>{{ expertise.section | upcase }}</h3>
        <ul>
            {% for item in expertise.items %}
            <li>
                {% include_relative particles/image.html image_name=item.level %}
                {{ item.name | capitalize }}
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </section>
    <section id="hobbies">
        <h3>{{ "hobbies and interest" | upcase }}</h3>
        {{ page.hobbies }}
    </section>
</div>