<h3>{{ "Work Experience" | upcase }}</h3>
{% for work in site.works %}
<article>
    <h1>{{ work.title }}</h1>
    <label>{{ work.start_date | date: "%B %Y" }} - {{ work.end_date | date: "%B %Y" }}</label>
    {% assign company = site.data.companies[work.company] %}
    {% if company %}
    {% if company.site != '' %}
    <a href="{{ company.site }}">site</a>
    {% endif %}
        <label>
            {{ company.name }} | {{ company.address }}
        </label>
    {% endif %}
    {{ work.content }}
    {% if work.tags %}
    {% assign tag_list = work.tags %}
    {% include tag.html tag_list=tag_list %}
    {% endif %}
</article>
{% endfor %}