---
---
@import "main";

body {
  #wrap {
    display: flex;

    @include media-query($on-palm) {
      flex-flow: column-reverse;
    }

    & > * {
      padding: 100px 50px;

      @include media-query($on-palm) {
        padding: 50px 30px;
      }
    }

    #sidebar {
      background: $primary-color;
      flex-basis: 40%;
      display: flex;
      flex-flow: column;
      align-items: flex-end;

      @include media-query($on-palm) {
        flex-basis: unset;
      }

      * { color: $white-color; }

      .content-block {
        max-width: 250px;

        @include media-query($on-palm) {
          max-width: unset;
        }
      }

      #personal {
        img {
          width: 250px;
          height: 250px;
          object-fit: cover;
          object-position: center;
          overflow: hidden;
          border-radius: 40px;

          @include media-query($on-palm) {
            width: 100%;
          }
        }
    max-width: unset;
        em {
          font-size: 1.4rem;
          line-height: 1.4rem;
        }
      }

      #contacts {
        ul {
          margin: 0;
          list-style: none;

          li {
            margin-bottom: 1.5rem;
            display: flex;
            align-items: center;

            img {
              margin-right: 10px;
            }
          }
        }
      }

      #expertise {
        ul {
          margin: 0;
          list-style: none;

          li {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            font-size: 1.1rem;

            img {
              margin-right: 10px;
              background: rgba( $white-color, .2 );
              border-radius: 10px;
            }
          }
        }
      }
    }

    #main-content {
      flex-grow: 1;

      section {
        max-width: 80%;

        @include media-query($on-palm) {
          max-width: unset;
        }
      }

      #info {
        height: 250px;
        display: flex;
        flex-flow: column;
        justify-content: center;

        h1 { margin-bottom: 0; }

        h2 { margin-top: 0; }
      }

      #work-experience, #education {
        article {
          margin-bottom: 2rem;
          background: #f5f5f5;
          padding: 30px;
          border-radius: 15px;
          a { color: $secondary-color; }

          .details { margin-bottom: 1rem; }

          .content *:last-child { margin-bottom: 0; }

          .company, .institute {
            a { color: $primary-color; }
          }

          .tag-list {
            &:empty { margin-top: 0;}

            ul {
              margin: 0;
              list-style: none;
              display: flex;
              flex-wrap: wrap;

              li {
                background: $primary-color;
                padding: 5px 15px;
                margin-top: 1rem;
                border-radius: 5px;
                display: flex;
                align-items: center;
                margin-right: 1rem;

                label {
                  color: $white-color;
                  font-size: .8rem;
                  letter-spacing: .2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}